$accent-color: #D8973B;
$text-color: #FFF5D6;
$background-color: #131201;

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return $text-color;
    }
}