$primary-color: #53538D;
$secondary-color: #FFF5D6;
$accent-color: #D8973B;
$text-color: #E7ECEF;
$background-color: #131201;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
)